@if (isAddingTask()) {
	<app-new-task (cancel)="onCancelAddTask()" (add)="onAddTask($event)" @fadeInOut></app-new-task>
}
<section id="tasks">
	<header class="d-flex align-items-start justify-content-between">
		<h2 class="m-0">
			{{ user().name }}'s Task
		</h2>
		<menu class="m-0 p-0">
			<button (click)="showAddTask()"><span>Add Task</span></button>
		</menu>
	</header>
	<ul class="d-flex overflow-auto flex-column p-0 list-unstyled">
		<!-- 		@for (task of tasks; track task.id) { -->
		<!-- 			@if (task.userId === user().id) { -->
		<!-- 				<li> -->
		<!-- 					<app-task [task]="task"></app-task> -->
		<!-- 				</li> -->
		<!-- 			} -->
		<!-- 		} -->
		@for (task of selectedUserTasks; track task.id) {
			<li>
				<app-task [task]="task" (completeTask)="onCompleteTask($event)" @fadeInOut></app-task>
			</li>
		}
		@if (selectedUserTasks.length == 0) {
			<p>This user has no task to be done!</p>
		}
	</ul>
</section>
