#tasks {
    overflow: auto;
    max-height: 60vh;
    padding: 1rem;
    border-radius: 8px;
    background-color: #3a2c54;
}

header {
    margin-bottom: 2rem;
    gap: 1rem;
}

h2 {
    font-size: 0.9rem;
    width: 60%;
    text-wrap: balance;
    color: inherit;
}

menu button {
    font: inherit;
    font-size: 0.9rem;
    padding: 0.35rem 0.8rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #9965dd;
}

menu button:hover,
menu button:active {
    background-color: #a565dd
}

ul {
    max-height: 50vh;
    margin: 1rem 0;
    gap: 1rem;
}

@media (min-width: 768px) {
    h2 {
        font-size: 1.25rem;
    }

    menu {
        width: auto;
    }
}