<form #form (ngSubmit)="onSubmit(titleInput.value, requestInput.value)" nz-form>
	<app-control [label]="{for: 'title', name: 'Title'}">
		<input #titleInput id="title" name="title" nz-input type="text">
	</app-control>
	<app-control #ctrl [label]="{for: 'request', name: 'Request'}">
		<nz-textarea-count [nzMaxCharacterCount]="2000">
			<textarea #requestInput id="request" name="request" nz-input placeholder="Write any thing" rows="3"></textarea>
		</nz-textarea-count>
	</app-control>
	<nz-form-item>
		<nz-form-control>
			<button appButton>
				<!-- This is for the first ng-content -->
				Submit
				<!-- This is for the second ng-content which has class icon -->
				<nz-icon ngProjectAs="icon" nzTheme="outline" nzType="caret-right"/>
			</button>
		</nz-form-control>
	</nz-form-item>
</form>