.control label {
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0.15rem;
    color: #4f4b53;
}

.control input,
.control textarea {
    font: inherit;
    font-size: 0.9rem;
    width: 100%;
    padding: 0.5rem;
    color: #4f4b53;
    border: 1px solid #ccc;
    border-radius: 4px;
}